.section-about {

    width: 100%;
    background-color: hsl(0, 0%, 25%);
    color: white;
    display: flex;

    .about-box {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        text-align: center;
        margin-bottom: 10rem;

        .heading-2 {
            font-size: 2.2rem;
            font-weight: 800;
            margin: 1rem;

            span {
                color: yellow;
            }
        }

        p {
            width: 700px;

            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1.2rem;
            margin-bottom: 10rem;
        }

        .span-about-btn {
            color: aliceblue;
            text-decoration: none;
            font-size: 1.2rem;
            border-bottom: 3px solid yellow;
        }

        .span-about-btn:hover {
            color: yellow;
            border-bottom: 3px solid transparent;
        }
    }

    .about-img-section {

        align-self: center;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;
        justify-items: center;
        align-items: center;

        img {
            background-size: cover;
            background-position: center;
            max-width: 100%;
            height: auto;
            outline: 0.2rem solid;
        }
    }

    .about-img-section img:last-child {
        grid-column: 1/-1;
        max-width: 60%;
        margin-top: -5rem;
        outline: 0.5rem solid yellow;
        outline-offset: 0.5rem;
    }
}

@media (max-width:2431px) {
    .section-about {
        justify-content: center;
    }

}

@media (max-width:1100px) {
    .section-about {
        justify-content: center;
        display: inline-block;

    }

}

@media (max-width:698px) {
    .section-about .about-box p {

        width: 400px;
    }
}