* {
    font-family: "roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    background: hsl(0, 0%, 22%);
    overflow: hidden;
}


/* =================================== */


.navebar-section {
    background: hsl(0, 0%, 22%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 7%;
    border-bottom: 0.2rem solid #ffc107;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navebar-section h3 {
    font-size: 3rem;
    color: #fff;
}

.navebar-section span {
    color: #ffc107;
    padding-top: 1rem;

}

.navebar-section a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.navebar-section a:hover {
    color: #ffc107;
    border-bottom: 0.1rem solid #ffc107;
    padding-bottom: 0.5rem;
}

#menu-btn {
    display: none;
}

@media(max-width: 778px) {
    #menu-btn {
        display: inline-block;
    }

    .navebar-section .header-a {

        position: absolute;
        top: 100%;
        right: -100%;
        background: #000;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .navebar-section .header-a.active {
        right: 0;
    }

    .navebar-section .header-a a {
        color: #fff;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
}

@media(max-width: 368px) {
    .navebar-section .icons {
        display: none;
    }
}

/* ==================== */
.section-hero {
    min-height: 100vh;

    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgb(0 0 0 /90%), rgb(68 68 68 /35%)),
        url(../pics/header.webp) no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.section-hero .container-hero-box {
    margin-left: 160px;
    /* max-width: 60rem; */
}

.section-hero .container-hero-box h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
}

.section-hero .container-hero-box .description {
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 2rem;
    color: rgb(241, 241, 59);
}

.section-hero .container-hero-box .btn-group {
    margin-top: 40px;
    margin-left: 80px;
}

.section-hero .container-hero-box .btn-group a {
    color: white;
    gap: 20px;

    margin-right: 20px;
    font-size: 1.5rem;
    font-weight: 700;
}

.section-hero .container-hero-box .btn-group a:hover {
    color: #ffc107;
    border-bottom: 0.1rem solid #ffc107;
    padding-bottom: 0.5rem;
}

@media(max-width: 778px) {
    .section-hero .container-hero-box {
        /* display: flex; */
        justify-content: center;
        text-align: center;
        color: red;
        margin-right: 120px;

    }

    .section-hero .container-hero-box .btn-group a {
        margin: 20px;
        display: inline-block;
        margin-right: 110px;
        font-size: 3rem;
    }

}

@media(max-width: 538px) {
    .section-hero .container-hero-box {
        justify-content: center;

    }

    .section-hero .container-hero-box {
        margin-left: 20px;

    }
}